body{
    background-color:  #0a8989;
}

/*encabezado*/

header {
    background-color: #28b3b3;
     color: #ffffff;
    padding-top: 30px;
    min-height: 40px;
    border-bottom: 5px solid #ffffff;
    font-size: 10px;
    margin: 15px;
    text-align: center;
}

/*para lema*/
header #lema{
    float: right;
}

header #lema h1 {
    margin: 0%;
}

/*propiedades de resaltar CEM RAMON ROSA*/

   header .resaltado, header .actual a {
    color: #000000;
    font-weight: bold;
   }

   .logo img {
    width: 120px;
    height: 100px;
   }


.disco{
    list-style-type: circle;
}

.cuadritos{
    list-style-type: square;
}


   .contenedor {
    display: flex;
    padding: 1em;
   }

   .contenido{
    flex: 2;
    color: #ffffff;
    padding: 1em;
   }

   .contenido h1{
    text-align: center;
    color: black ;
    font-size: 20px;
    font-weight: bold;
   }

   .parrafo{
    text-align: justify;
    font-size: 15px;
   }

   .contenido ul li{
    text-align: justify;
    font-size: 15px;
   }


.lateral{
    flex: 1;
    padding: 1em;
    background-color: #28b3b3;
}

.lateral, .imagenes, img{
    display: block;
    margin: auto;
    padding-top: 10px;
    border-radius: 20px;
}
footer{
    background-color: #28b3b3;
    color: rgb(17, 17, 16);
    text-align: center;
    padding: 10px;
    font-size: 15PX;
    font-family: Algerian;

}


